---
Title: Cake Pull Request Code Analysis
NoSidebar: true
NoContainer: false
NoGutter: true
---

<div class="container">				
	<h1>What is it?</h1>
    <p>
        The Pull Request Code Analysis Addin for <a href="http://cakebuild.net/">Cake</a> allows
        you to add issues from any analyzer or linter to comments in pull requests.
    </p>
    <p>
        The addin is built in a modular architecture, allowing to easily enhance it for supporting
        additional analyzers, linters and code review systems.
    </p>
    <p>
        See <a href="addins">Addins</a> for a list of supported issue providers and pull request systems.
    </p>
</div>