---
Title: Cake Pull Request Code Analysis
NoSidebar: true
NoContainer: false
NoGutter: true
---

<div class="container">				
	<h1>Deprecated</h1>
    <p>
        <strong>This addins are no longer maintained.</strong>
    </p>
    <p>
        Please see <a href="https://cake-contrib.github.io/Cake.Issues.Website/">Cake Issues Addins</a> for fully maintained addins providing 
        the same feature set as this addins.
    </p>
	<h1>What is it?</h1>
    <p>
        The Pull Request Code Analysis Addin for <a href="http://cakebuild.net/">Cake</a> allows
        you to add issues from any analyzer or linter to comments in pull requests.
    </p>
    <p>
        The addin is built in a modular architecture, allowing to easily enhance it for supporting
        additional analyzers, linters and code review systems.
    </p>
    <p>
        See <a href="docs">Documentation</a> for basic concepts and usage instructions.
    </p>
    <p>
        See <a href="addins">Addins</a> for a list of supported issue providers and pull request systems
        and <a href="dsl">Reference</a> for a list of aliases provided by these addins.
    </p>
</div>