---
Title: MsBuild
Description: Issue provider which allows you to write any warnings logged by MsBuild as comments to a pull request.
---
<p>@Html.Raw(Model.String(DocsKeys.Description))</p>

<p>
    Support for reading warnings reported by MsBuild is implemented in the
    <a href="https://www.nuget.org/packages/Cake.Prca.Issues.MsBuild" target="_blank">Cake.Prca.Issues.MsBuild addin</a>.
</p>

@Html.Partial("_ChildPages")